@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background-image: linear-gradient(to bottom, #275caa, #0080c3, #00a1d1, #0dc2d7, #68e0da);
    height: 100vh;   
}

main {
    
    display: inline-block;
    position: relative;    
    margin-top: 10%
    
}



.pokemon_image {
    position: absolute;
    right: 0;
    left:21%;
    top: 40%;    
    height: 15%;
}

.numbers_1 {
    display: flex;
    gap: 26px;
    position: absolute;
    right: 11%;
    top: 53.5%;
    
}

.numbers_2 {
    display: flex;
    gap: 26px;
    position: absolute;
    right: 11%;
    top: 59%; 
    
}

.form {
    position: absolute;
    left: 9%;
    bottom: 11%;
    
   
}

.pokemon_input {
    padding-top: 3%;
    text-align: center;    
    background-color: rgb(222, 221, 221);
    width: 70%;    
    line-height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #333;     
      
    
}

.pokemon_char{   
    position: absolute;
    top: 37%;
    right: 29%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    
}

.pokemon_char2{   
    position: absolute;
    top: 37%;
    right: 14%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    text-transform: capitalize;
}


.buttons {
    position: absolute;    
    display: flex;
    gap: 5px;
    right: 25%;
    bottom: 11%;

}

.button {
    text-align: center;
    border-radius: 5px;
    outline: none;
    padding: 2% 30% 5% 30%;
    font-size: 600;
    font-size: clamp(8px,5vw,14px);

    
}

.button:active {
    position: relative;       
    box-shadow: inset -2px 2px 1px rgb(121, 119, 119);
    top: 1px;
    
}


